*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
    background: black;
    color: white;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12vw;
    font-family: "Reval";
    width: 100%;
    text-align: center;
}

.header .letter{
    display: inline-block;
    line-height: 1em;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #5D5FEF;
}


#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
  }
  #logo path:nth-child(1) {
    stroke-dasharray: 556.74px;
    stroke-dashoffset: 556.74px;
    animation: line-anim 3s ease forwards;
  }
  #logo path:nth-child(2) {
    stroke-dasharray: 560.28px;
    stroke-dashoffset: 560.28px;
    animation: line-anim 3s ease forwards 0.3s;
  }
  #logo path:nth-child(3) {
    stroke-dasharray: 428.81px;
    stroke-dashoffset: 428.81px;
    animation: line-anim 3s ease forwards 0.6s;
  }
  #logo path:nth-child(4) {
    stroke-dasharray: 568.1px;
    stroke-dashoffset: 568.1px;
    animation: line-anim 3s ease forwards 0.9s;
  }
  #logo path:nth-child(5) {
    stroke-dasharray: 490.2px;
    stroke-dashoffset: 490.2px;
    animation: line-anim 3s ease forwards 1.2s;
  }
  #logo path:nth-child(6) {
    stroke-dasharray: 280.77px;
    stroke-dashoffset: 280.77px;
    animation: line-anim 3s ease forwards 1.5s;
  }
  
  @keyframes line-anim {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes fill {
    0% {
      fill: transparent;
    }
    80% {
      fill: #5D5FEF;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: black;
    z-index: 10;
    transition: all 0.5s ease;
    animation: removePreloader 0.5s ease;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  #logo {
    width: 100%;
    padding: 0 20px;
  }
  
  @keyframes removePreloader {
    from {
      height: 100vh;
      opacity: 1;
      pointer-events: all;
    }
    to {
        height: 0vh;
      opacity: 1;
      pointer-events: none;
    }
  }
  @media(max-width: 800px){
      h1{
          font-size: 20vw;
      }
  }